In [1]:
import pandas as pd

# from lowe.locations.lookup import name2fips, fips2name, search
# from lowe.acs.ACSClient import ACSClient

In [7]:
empl_data = pd.read_csv("../data/CV_EMPL.csv", na_values=["***", ".", "NA"])

In [12]:
empl_data['DATE'] = empl_data['DATE'].str.pad(width=6, side="left", fillchar="0")

In [13]:
print(empl_data.head())

     DATE            City  Agriculture, Forestry, Fishing and Hunting  \
0  05-Jan  Cathedral City                                         NaN
1  05-Feb  Cathedral City                                         NaN
2  05-Mar  Cathedral City                                         NaN
3  05-Apr  Cathedral City                                         NaN
4  05-May  Cathedral City                                         NaN

   Utilities  Construction  Manufacturing  Wholesale Trade  Retail Trade  \
0        NaN         971.0           79.0            106.0        1941.0
1        NaN         981.0           68.0            108.0        1956.0
2        NaN        1032.0           78.0            111.0        1947.0
3        NaN         988.0           86.0            154.0        1936.0
4        NaN        1028.0           88.0            154.0        1953.0

   Transportation and Warehousing  Information  ...  Educational Services  \
0                            39.0        137.0  ...                  21.0
1                            39.0        143.0  ...                  14.0
2                            41.0        142.0  ...                  21.0
3                            41.0        140.0  ...                  20.0
4                            39.0        135.0  ...                  17.0

   Health Care and Social Assistance  Arts, Entertainment, and Recreation  \
0                              530.0                                217.0
1                              517.0                                224.0
2                              513.0                                236.0
3                              523.0                                234.0
4                              529.0                                245.0

   Accommodation and Food Services  \
0                            967.0
1                            990.0
2                           1000.0
3                           1023.0
4                           1022.0

   Other Services (except Public Administration)  Federal Government  \
0                                          543.0                 NaN
1                                          547.0                 NaN
2                                          561.0                 NaN
3                                          546.0                 NaN
4                                          552.0                 NaN

   Local Government  State Government  Not Elsewhere Classified  \
0             940.0               NaN                       NaN
1             941.0               NaN                       NaN
2             953.0               NaN                       NaN
3             906.0               NaN                       NaN
4             910.0               NaN                       NaN

   Mining, Quarrying, and Oil and Gas Extraction
0                                            NaN
1                                            NaN
2                                            NaN
3                                            NaN
4                                            NaN

[5 rows x 25 columns]

In [15]:
empl_data['DATE'] = pd.to_datetime(empl_data.DATE, format='%y-%b')

In [16]:
empl_data.set_index('DATE', inplace=True)

In [17]:
empl_data = empl_data.fillna(0)

In [21]:
empl_data['Total Employment'] = empl_data.loc[:, 'Agriculture, Forestry, Fishing and Hunting':].sum(axis=1)

In [22]:
print(empl_data.head())

                      City  Agriculture, Forestry, Fishing and Hunting  \
DATE
2005-01-01  Cathedral City                                         0.0
2005-02-01  Cathedral City                                         0.0
2005-03-01  Cathedral City                                         0.0
2005-04-01  Cathedral City                                         0.0
2005-05-01  Cathedral City                                         0.0

            Utilities  Construction  Manufacturing  Wholesale Trade  \
DATE
2005-01-01        0.0         971.0           79.0            106.0
2005-02-01        0.0         981.0           68.0            108.0
2005-03-01        0.0        1032.0           78.0            111.0
2005-04-01        0.0         988.0           86.0            154.0
2005-05-01        0.0        1028.0           88.0            154.0

            Retail Trade  Transportation and Warehousing  Information  \
DATE
2005-01-01        1941.0                            39.0        137.0
2005-02-01        1956.0                            39.0        143.0
2005-03-01        1947.0                            41.0        142.0
2005-04-01        1936.0                            41.0        140.0
2005-05-01        1953.0                            39.0        135.0

            Finance and Insurance  ...  Health Care and Social Assistance  \
DATE                               ...
2005-01-01                  142.0  ...                              530.0
2005-02-01                  148.0  ...                              517.0
2005-03-01                  142.0  ...                              513.0
2005-04-01                  100.0  ...                              523.0
2005-05-01                   93.0  ...                              529.0

            Arts, Entertainment, and Recreation  \
DATE
2005-01-01                                217.0
2005-02-01                                224.0
2005-03-01                                236.0
2005-04-01                                234.0
2005-05-01                                245.0

            Accommodation and Food Services  \
DATE
2005-01-01                            967.0
2005-02-01                            990.0
2005-03-01                           1000.0
2005-04-01                           1023.0
2005-05-01                           1022.0

            Other Services (except Public Administration)  Federal Government  \
DATE
2005-01-01                                          543.0                 0.0
2005-02-01                                          547.0                 0.0
2005-03-01                                          561.0                 0.0
2005-04-01                                          546.0                 0.0
2005-05-01                                          552.0                 0.0

            Local Government  State Government  Not Elsewhere Classified  \
DATE
2005-01-01             940.0               0.0                       0.0
2005-02-01             941.0               0.0                       0.0
2005-03-01             953.0               0.0                       0.0
2005-04-01             906.0               0.0                       0.0
2005-05-01             910.0               0.0                       0.0

            Mining, Quarrying, and Oil and Gas Extraction  Total Employment
DATE
2005-01-01                                            0.0            7401.0
2005-02-01                                            0.0            7430.0
2005-03-01                                            0.0            7529.0
2005-04-01                                            0.0            7373.0
2005-05-01                                            0.0            7412.0

[5 rows x 25 columns]

In [23]:
def get_city_df(city_name):
    city_df = empl_data.loc[empl_data.City == city_name]
    return city_df

In [27]:
cities = ['Cathedral City', 'Coachella', 'Desert Hot Springs', 'Indian Wells', 'Indio', 'La Quinta', 'Palm Desert', 'Palm Springs', 'Rancho Mirage']

                      City  Agriculture, Forestry, Fishing and Hunting  \
DATE
2005-01-01  Cathedral City                                         0.0
2005-02-01  Cathedral City                                         0.0
2005-03-01  Cathedral City                                         0.0
2005-04-01  Cathedral City                                         0.0
2005-05-01  Cathedral City                                         0.0
...                    ...                                         ...
2021-08-01  Cathedral City                                         0.0
2021-09-01  Cathedral City                                         0.0
2021-10-01  Cathedral City                                         0.0
2021-11-01  Cathedral City                                         0.0
2021-12-01  Cathedral City                                         0.0

            Utilities  Construction  Manufacturing  Wholesale Trade  \
DATE
2005-01-01        0.0         971.0           79.0            106.0
2005-02-01        0.0         981.0           68.0            108.0
2005-03-01        0.0        1032.0           78.0            111.0
2005-04-01        0.0         988.0           86.0            154.0
2005-05-01        0.0        1028.0           88.0            154.0
...               ...           ...            ...              ...
2021-08-01        0.0           0.0            0.0              0.0
2021-09-01        0.0           0.0            0.0              0.0
2021-10-01        0.0           0.0            0.0              0.0
2021-11-01        0.0           0.0            0.0              0.0
2021-12-01        0.0           0.0            0.0              0.0

            Retail Trade  Transportation and Warehousing  Information  \
DATE
2005-01-01        1941.0                            39.0        137.0
2005-02-01        1956.0                            39.0        143.0
2005-03-01        1947.0                            41.0        142.0
2005-04-01        1936.0                            41.0        140.0
2005-05-01        1953.0                            39.0        135.0
...                  ...                             ...          ...
2021-08-01           0.0                             0.0          0.0
2021-09-01           0.0                             0.0          0.0
2021-10-01           0.0                             0.0          0.0
2021-11-01           0.0                             0.0          0.0
2021-12-01           0.0                             0.0          0.0

            Finance and Insurance  ...  Health Care and Social Assistance  \
DATE                               ...
2005-01-01                  142.0  ...                              530.0
2005-02-01                  148.0  ...                              517.0
2005-03-01                  142.0  ...                              513.0
2005-04-01                  100.0  ...                              523.0
2005-05-01                   93.0  ...                              529.0
...                           ...  ...                                ...
2021-08-01                    0.0  ...                                0.0
2021-09-01                    0.0  ...                                0.0
2021-10-01                    0.0  ...                                0.0
2021-11-01                    0.0  ...                                0.0
2021-12-01                    0.0  ...                                0.0

            Arts, Entertainment, and Recreation  \
DATE
2005-01-01                                217.0
2005-02-01                                224.0
2005-03-01                                236.0
2005-04-01                                234.0
2005-05-01                                245.0
...                                         ...
2021-08-01                                  0.0
2021-09-01                                  0.0
2021-10-01                                  0.0
2021-11-01                                  0.0
2021-12-01                                  0.0

            Accommodation and Food Services  \
DATE
2005-01-01                            967.0
2005-02-01                            990.0
2005-03-01                           1000.0
2005-04-01                           1023.0
2005-05-01                           1022.0
...                                     ...
2021-08-01                              0.0
2021-09-01                              0.0
2021-10-01                              0.0
2021-11-01                              0.0
2021-12-01                              0.0

            Other Services (except Public Administration)  Federal Government  \
DATE
2005-01-01                                          543.0                 0.0
2005-02-01                                          547.0                 0.0
2005-03-01                                          561.0                 0.0
2005-04-01                                          546.0                 0.0
2005-05-01                                          552.0                 0.0
...                                                   ...                 ...
2021-08-01                                            0.0                 0.0
2021-09-01                                            0.0                 0.0
2021-10-01                                            0.0                 0.0
2021-11-01                                            0.0                 0.0
2021-12-01                                            0.0                 0.0

            Local Government  State Government  Not Elsewhere Classified  \
DATE
2005-01-01             940.0               0.0                       0.0
2005-02-01             941.0               0.0                       0.0
2005-03-01             953.0               0.0                       0.0
2005-04-01             906.0               0.0                       0.0
2005-05-01             910.0               0.0                       0.0
...                      ...               ...                       ...
2021-08-01               0.0               0.0                       0.0
2021-09-01               0.0               0.0                       0.0
2021-10-01               0.0               0.0                       0.0
2021-11-01               0.0               0.0                       0.0
2021-12-01               0.0               0.0                       0.0

            Mining, Quarrying, and Oil and Gas Extraction  Total Employment
DATE
2005-01-01                                            0.0            7401.0
2005-02-01                                            0.0            7430.0
2005-03-01                                            0.0            7529.0
2005-04-01                                            0.0            7373.0
2005-05-01                                            0.0            7412.0
...                                                   ...               ...
2021-08-01                                            0.0               0.0
2021-09-01                                            0.0               0.0
2021-10-01                                            0.0               0.0
2021-11-01                                            0.0               0.0
2021-12-01                                            0.0               0.0

[204 rows x 25 columns]

       DATE            City Agriculture, Forestry, Fishing and Hunting  \
0  Jan 2005  Cathedral City                                        NaN
1  Feb 2005  Cathedral City                                        NaN
2  Mar 2005  Cathedral City                                        NaN
3  Apr 2005  Cathedral City                                        NaN
4  May 2005  Cathedral City                                        NaN

  Utilities Construction Manufacturing Wholesale Trade Retail Trade  \
0       NaN          971            79             106         1941
1       NaN          981            68             108         1956
2       NaN         1032            78             111         1947
3       NaN          988            86             154         1936
4       NaN         1028            88             154         1953

  Transportation and Warehousing Information  ...  \
0                             39         137  ...
1                             39         143  ...
2                             41         142  ...
3                             41         140  ...
4                             39         135  ...

  Health Care and Social Assistance  Arts, Entertainment, and Recreation  \
0                               530                                  217
1                               517                                  224
2                               513                                  236
3                               523                                  234
4                               529                                  245

  Accommodation and Food Services  \
0                             967
1                             990
2                            1000
3                            1023
4                            1022

  Other Services (except Public Administration) Federal Government  \
0                                           543                NaN
1                                           547                NaN
2                                           561                NaN
3                                           546                NaN
4                                           552                NaN

  Local Government State Government Not Elsewhere Classified  \
0              940              NaN                      NaN
1              941              NaN                      NaN
2              953              NaN                      NaN
3              906              NaN                      NaN
4              910              NaN                      NaN

  Mining, Quarrying, and Oil and Gas Extraction Total Employment
0                                           NaN              NaN
1                                           NaN              NaN
2                                           NaN              NaN
3                                           NaN              NaN
4                                           NaN              NaN

[5 rows x 26 columns]

,DATE,City,"Agriculture, Forestry, Fishing and Hunting",Utilities,Construction,Manufacturing,Wholesale Trade,Retail Trade,Transportation and Warehousing,Information,...,Educational Services,Health Care and Social Assistance,"Arts, Entertainment, and Recreation",Accommodation and Food Services,Other Services (except Public Administration),Federal Government,Local Government,State Government,Not Elsewhere Classified,"Mining, Quarrying, and Oil and Gas Extraction"
0,Jan 2005,Cathedral City,NaN,NaN,971,79,106,1941,39,137,...,21,530,217,967,543,NaN,940,NaN,NaN,NaN
1,Feb 2005,Cathedral City,NaN,NaN,981,68,108,1956,39,143,...,14,517,224,990,547,NaN,941,NaN,NaN,NaN
2,Mar 2005,Cathedral City,NaN,NaN,1032,78,111,1947,41,142,...,21,513,236,1000,561,NaN,953,NaN,NaN,NaN
3,Apr 2005,Cathedral City,NaN,NaN,988,86,154,1936,41,140,...,20,523,234,1023,546,NaN,906,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1832,Sep 2021,Rancho Mirage,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1833,Oct 2021,Rancho Mirage,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1834,Nov 2021,Rancho Mirage,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1835,Dec 2021,Rancho Mirage,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

       DATE            City Agriculture, Forestry, Fishing and Hunting  \
0  Jan 2005  Cathedral City                                        NaN
1  Feb 2005  Cathedral City                                        NaN
2  Mar 2005  Cathedral City                                        NaN
3  Apr 2005  Cathedral City                                        NaN
4  May 2005  Cathedral City                                        NaN

  Utilities Construction Manufacturing Wholesale Trade Retail Trade  \
0       NaN          971            79             106         1941
1       NaN          981            68             108         1956
2       NaN         1032            78             111         1947
3       NaN          988            86             154         1936
4       NaN         1028            88             154         1953

  Transportation and Warehousing Information  ...  \
0                             39         137  ...
1                             39         143  ...
2                             41         142  ...
3                             41         140  ...
4                             39         135  ...

  Health Care and Social Assistance  Arts, Entertainment, and Recreation  \
0                               530                                  217
1                               517                                  224
2                               513                                  236
3                               523                                  234
4                               529                                  245

  Accommodation and Food Services  \
0                             967
1                             990
2                            1000
3                            1023
4                            1022

  Other Services (except Public Administration) Federal Government  \
0                                           543                NaN
1                                           547                NaN
2                                           561                NaN
3                                           546                NaN
4                                           552                NaN

  Local Government State Government Not Elsewhere Classified  \
0              940              NaN                      NaN
1              941              NaN                      NaN
2              953              NaN                      NaN
3              906              NaN                      NaN
4              910              NaN                      NaN

  Mining, Quarrying, and Oil and Gas Extraction Total Employment
0                                           NaN              NaN
1                                           NaN              NaN
2                                           NaN              NaN
3                                           NaN              NaN
4                                           NaN              NaN

[5 rows x 26 columns]

       DATE            City Agriculture, Forestry, Fishing and Hunting  \
0  Jan 2005  Cathedral City                                        NaN
1  Feb 2005  Cathedral City                                        NaN
2  Mar 2005  Cathedral City                                        NaN
3  Apr 2005  Cathedral City                                        NaN
4  May 2005  Cathedral City                                        NaN

  Utilities Construction Manufacturing Wholesale Trade Retail Trade  \
0       NaN          971            79             106         1941
1       NaN          981            68             108         1956
2       NaN         1032            78             111         1947
3       NaN          988            86             154         1936
4       NaN         1028            88             154         1953

  Transportation and Warehousing Information  ...  \
0                             39         137  ...
1                             39         143  ...
2                             41         142  ...
3                             41         140  ...
4                             39         135  ...

  Health Care and Social Assistance  Arts, Entertainment, and Recreation  \
0                               530                                  217
1                               517                                  224
2                               513                                  236
3                               523                                  234
4                               529                                  245

  Accommodation and Food Services  \
0                             967
1                             990
2                            1000
3                            1023
4                            1022

  Other Services (except Public Administration) Federal Government  \
0                                           543                NaN
1                                           547                NaN
2                                           561                NaN
3                                           546                NaN
4                                           552                NaN

  Local Government State Government Not Elsewhere Classified  \
0              940              NaN                      NaN
1              941              NaN                      NaN
2              953              NaN                      NaN
3              906              NaN                      NaN
4              910              NaN                      NaN

  Mining, Quarrying, and Oil and Gas Extraction Total Employment
0                                           NaN            215.0
1                                           NaN            217.0
2                                           NaN            219.0
3                                           NaN            217.0
4                                           NaN            218.0

[5 rows x 26 columns]

TypeError: '['Agriculture, Forestry, Fishing and Hunting']' is an invalid key

       DATE            City Agriculture, Forestry, Fishing and Hunting  \
0  Jan 2005  Cathedral City                                        NaN
1  Feb 2005  Cathedral City                                        NaN
2  Mar 2005  Cathedral City                                        NaN
3  Apr 2005  Cathedral City                                        NaN
4  May 2005  Cathedral City                                        NaN

  Utilities Construction Manufacturing Wholesale Trade Retail Trade  \
0       NaN          971            79             106         1941
1       NaN          981            68             108         1956
2       NaN         1032            78             111         1947
3       NaN          988            86             154         1936
4       NaN         1028            88             154         1953

  Transportation and Warehousing Information  ...  \
0                             39         137  ...
1                             39         143  ...
2                             41         142  ...
3                             41         140  ...
4                             39         135  ...

  Health Care and Social Assistance  Arts, Entertainment, and Recreation  \
0                               530                                  217
1                               517                                  224
2                               513                                  236
3                               523                                  234
4                               529                                  245

  Accommodation and Food Services  \
0                             967
1                             990
2                            1000
3                            1023
4                            1022

  Other Services (except Public Administration) Federal Government  \
0                                           543                NaN
1                                           547                NaN
2                                           561                NaN
3                                           546                NaN
4                                           552                NaN

  Local Government State Government Not Elsewhere Classified  \
0              940              NaN                      NaN
1              941              NaN                      NaN
2              953              NaN                      NaN
3              906              NaN                      NaN
4              910              NaN                      NaN

  Mining, Quarrying, and Oil and Gas Extraction Total Employment
0                                           NaN            430.0
1                                           NaN            434.0
2                                           NaN            438.0
3                                           NaN            434.0
4                                           NaN            436.0

[5 rows x 26 columns]

/var/folders/kc/96gd8w257616fkgyr9gcth3h0000gn/T/ipykernel_41061/431044449.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  empl_data['Total Employment'] = empl_data.loc[:, "Agriculture, Forestry, Fishing and Hunting":].sum(axis=1)

       DATE            City Agriculture, Forestry, Fishing and Hunting  \
0  Jan 2005  Cathedral City                                        NaN
1  Feb 2005  Cathedral City                                        NaN
2  Mar 2005  Cathedral City                                        NaN
3  Apr 2005  Cathedral City                                        NaN
4  May 2005  Cathedral City                                        NaN

  Utilities Construction Manufacturing Wholesale Trade Retail Trade  \
0       NaN          971            79             106         1941
1       NaN          981            68             108         1956
2       NaN         1032            78             111         1947
3       NaN          988            86             154         1936
4       NaN         1028            88             154         1953

  Transportation and Warehousing Information  ...  \
0                             39         137  ...
1                             39         143  ...
2                             41         142  ...
3                             41         140  ...
4                             39         135  ...

  Health Care and Social Assistance  Arts, Entertainment, and Recreation  \
0                               530                                  217
1                               517                                  224
2                               513                                  236
3                               523                                  234
4                               529                                  245

  Accommodation and Food Services  \
0                             967
1                             990
2                            1000
3                            1023
4                            1022

  Other Services (except Public Administration) Federal Government  \
0                                           543                NaN
1                                           547                NaN
2                                           561                NaN
3                                           546                NaN
4                                           552                NaN

  Local Government State Government Not Elsewhere Classified  \
0              940              NaN                      NaN
1              941              NaN                      NaN
2              953              NaN                      NaN
3              906              NaN                      NaN
4              910              NaN                      NaN

  Mining, Quarrying, and Oil and Gas Extraction Total Employment
0                                           NaN              0.0
1                                           NaN              0.0
2                                           NaN              0.0
3                                           NaN              0.0
4                                           NaN              0.0

[5 rows x 26 columns]

SyntaxError: invalid syntax (3181421605.py, line 1)

NameError: name 'empl_data' is not defined